.section__image__block {
    display: table;
    max-width: 387px;
    max-height: 40px;
    float: left;
}

.section__acquainted {
    padding-top: 175px;
    padding-bottom: 35px;

    .section__heading__small {
        margin-bottom: 20px
    }
    .section__text__block {
        float: right;
        text-align: right;
    }
    .page__text {
        @extend .secondary-text;
        margin-bottom: 32px;
    }


}