.section__image__block {
    display: table;
    max-width: 387px;
    max-height: 40px;
    float: left;
}

.section__acquainted {
    padding-top: 180px;

    .section__text__block {
        float: right;
        text-align: right;
    }
    .page__text {
        @extend .banner__text;
        max-width: 680px;
    }

}