.banner__section {
    position: relative;
    background-color: $banner-bg;

    .banner__image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    .banner__caption {
        position: absolute;
        top: 185px;
        left: 0;
        right: 0;
    }
    

    
}

.banner__heading {
    max-width: 670px;
    margin-bottom: 21px;
    @extend .heading-large;
}

.banner__text {
    margin-bottom: 32px;
    max-width: 527px;
    @extend .secondary-text;
}

