.button {
    display: inline-block;
    width: 148px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    @extend .secondary-text;
}
