body {
    background-color: $grey;
}
a {
    text-decoration: none;
}
div, nav, header, section, main, aside {
    box-sizing: border-box;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.grey {
    background-color: $grey;
}

.error-text {
    color: $error;
}

.center-text {
    text-align: center;
}

.section__heading {
    margin-top: 15px;
    @extend .heading-large;
}

.section__heading__small {
    margin-top: 15px;
    @extend .heading-small;
}

section.page__form {
    background-color: $grey;
}