body, html{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
body {
    background-color: $grey;
}
a {
    text-decoration: none;
}
div, nav, header, section, main, aside {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.z-depth-1, .btn:hover {
    box-shadow: none;
}
.z-depth-1-half {
    box-shadow: none;
}
.z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 3px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);
}
.z-depth-5 {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
                0 9px 46px 8px rgba(0,0,0,0.12),
                0 11px 15px -7px rgba(0,0,0,0.2);
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.grey {
    background-color: $grey;
}

.error-text {
    color: $error;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.section__heading {
    margin-top: 15px;
    @extend .heading-large;
}

.section__heading__small {
    margin-top: 10px;
    @extend .heading-small;
}
.page__heading {
    margin-bottom: 20px;
}

section.page__form {
    background-color: $grey;
}
.divider {
    border-top: $header-border;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

.page-link:visited,
.page-link:hover {
    color: $blue;
}

.page-link:hover {
    background: rgba(0, 189, 211, 0.1);
    border-radius: 4px;
}

.align-center {
    text-align: center;
}

.page__form {
    padding-top: 60px;
}
.main__page {
    position: relative;
}