@import "~materialize-css/sass/components/grid";





.container {
  max-width: 1170px;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

.container > .row {
    margin-left: -($gutter-width / 2);
    margin-right: -($gutter-width / 2);
}
// @media #{$extra-large-and-up} {
//   .container {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }
@media #{$large-and-up} {
  .container {
    width: 100%;
    padding: 0 60px;
  }

  .header__navigation__item {
    margin-left: 32px;
  }
}
@media #{$medium-only} {
  .container > .row {
    margin-left: -($gutter-width-mobile / 2);
    margin-right: -($gutter-width-mobile / 2);
  }
  .row > .col {
    padding: 0 8px;
  }
}

@media #{$small-only} {
  .container {
    width: 100%;
    padding: 0 ($gutter-width-mobile / 2);
  }

  .container > .row {
    margin-left: -($gutter-width-mobile / 2);
    margin-right: -($gutter-width-mobile / 2);
  }
}


// .container::after {
//   content: "";
//   display: table;
//   clear: both;
// }

// .clearfix::after { 
//   content: "";
//   clear: both;
//   display: block;
// }
// .row {
//   margin-bottom: 15px;
//     &::after {
//       content: "";
//       display: table;
//       clear: both;
//   }
// }


// .row {
//   .col {
//     box-sizing: border-box;
//     float: left;
//   }
// }




// @media #{$small-only} {
//     .container {
//       width: 100%;
//       padding: 0 16px;
//     }

//     .row {
//       margin-left: -16px;
//       margin-right: -16px;
//     }

//     .row {
//       .col.s12 {
//         width: 100%;
//         margin-left: 15px;
//         margin-right: 15px;
//         left: auto;
//         right: auto;
//       }
//     }
// }

// @media #{$medium-only} {
//     .container {
//       width: 100%;
//       padding: 0 32px;
//     }

//     .row {
//       margin-left: -15px;
//       margin-right: -15px;
//     }
// }

// @media #{$large-and-up} {
//     .container {
//       width: 100%;
//     }
//     .row {
//       margin: 0 -15px;
//     }
//     .col.l7 {
//       width: 58.3333333333%;
//     }
//     .col.l5 {
//       width: 41.6666666667%;
//     }
// }



// @media #{$medium-and-up} {
//   .row {
//     .col.m4 {
//       width: 33.3333333333%;
//       padding: 0 15px;
//       left: auto;
//       right: auto;
//     }
//   }
// }
