.user__section {
    margin-top: 100px;
}

.user__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.user__card {
    background-color: #fff;
    padding: 30px;
    height: 313px;
    text-align: center;
}


.user__name,
.user__position,
.user__phone,
.user__mail {
    display: inline-block;
}

.user__name {
    @extend .heading-small;
}

.user__position,
.user__phone,
.user__mail {
    @extend .secondary-text;
}