
$primary-color-light: none;
$banner-bg: #EDECEA;
$yellow: #F4E041;
$blue: #00BDD3;
$grey:  #F8F8F8;
$grey-text: #7E7E7E;
$black-trsprnt: rgba(0, 0, 0, .87) !default;
$error: #CB3D40;
$header-border: 1px solid #E0E0E0;

//Buttons

$button-border: none !default;
$button-radius: 80px !default;
$button-height: 50px !default;
$button-padding: 0 16px !default;
$button-disabled-background: #B4B4B4 !default;
$button-disabled-color: rgba(255, 255, 255, .87) !default;
$button-font-size: 16px;
$button-icon-font-size: 10px;
$button-raised-background: #F4E041;
$button-raised-color: rgba(0, 0, 0, .87) !default;
$button-raised-background-hover: #FFE302 !default;

$button-floating-background: $button-raised-background !default;

$button-floating-background-hover: #FFE302 !default;
$button-floating-large-size: none;
$button-floating-small-size: none;
$button-floating-size: none;
$button-floating-color: none;
$button-floating-radius: $button-radius;
$button-large-icon-font-size: $button-icon-font-size;
$button-flat-color: $button-raised-color;
$button-flat-disabled-color: #fff;
$button-large-height: $button-height;
$button-large-font-size: $button-font-size;
$button-small-font-size: $button-font-size;
$button-small-height: $button-height;
$button-small-icon-font-size: $button-font-size;


//Sidenav
$sidenav-width: 270px;
$sidenav-bg-color: #fff;
$sidenav-line-height: 26px;
$sidenav-font-color: #000;
$sidenav-font-size: 16px;
$sidenav-item-height: 40px;
$sidenav-padding: 8px;
$primary-color: unset;


//input 
$input-disabled-color: rgba(0,0,0, .42) !default;
$input-disabled-solid-color: $blue;
$input-background: $blue;
$input-border-color: $blue;
$dropdown-item-height: 30;
$input-focus-color: $blue;
$input-success-color: $blue;
$input-error-color: $error;
$placeholder-text-color: #000;
$input-border: #000;
$input-height: 3.375rem;
$input-height: 54px;
$input-font-size: 20px;
$input-margin: 0;
$input-padding: 0;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .42) !default;
$input-disabled-solid-color: #949494 !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$input-icon-size: 2rem;
$placeholder-text-color: lighten($input-border-color, 20%) !default;

// Radio
$radio-fill-color: #D0CFCF;
$radio-empty-color: $radio-fill-color;
$radio-border: 1px solid $radio-fill-color !default;
//Preloader
$spinner-default-color: $blue;
//Grid
$num-cols:12 !default;
$gutter-width: 30px;
$gutter-width-mobile: 16px;
///
$small-screen: 767px !default;
$small-screen-up: 768px !default;
$medium-screen: 1023px !default;
$medium-screen-up: 1024px !default;
$large-screen-up: 2560px !default;
$small-screen: 360px !default;
$large-screen: 2559px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$small-only:"only screen and  (max-width : #{$small-screen})" !default;
$large-only: "only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})" !default;
///
// $small-screen: 360px !default;
// $small-screen-up: 767px !default;
// $medium-screen: 768px !default;
// $medium-screen-up: 1023px !default;
// $large-screen: 1024px !default;
// $large-screen-up: 2559px !default;
// $extra-large-screen: 2560px !default;


// $small-only: "only screen and  (max-width : #{$small-screen-up})" !default;
// $medium-only: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$medium-screen-up})" !default;
// $large-only: "only screen and (min-width : #{$large-screen}) and (max-width: #{large-screen-up})" !default;
// $medium-and-up: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$medium-screen-up})" !default;
// $large-and-up: "only screen and (min-width : #{$large-screen}) and (max-width: #{large-screen-up})" !default;
// $medium-and-down: "only screen and (max-width : #{$medium-screen-up})" !default;
// $extra-large-and-up: "only screen and (min-width : #{extra-large-screen})" !default;

